<head>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <!--
  3 ways to layout
  CSS float property
  CSS flexbox
  CSS framework
  -->

  <header>
    <h1 onclick="myFunction()">Hello World</h1>
  </header>
  <nav>
    <a href="#">Some Nav Link</a>
  </nav>
  <aside>
    <p>Some sidebar content</p>
  </aside>
  <section>
    <p>Some Content</p>
  </section>
  <article>
    <p>Some Independent Content</p>
  </article>
  <footer>Some Footer Information</footer>
  <script src="js/scripts.js"></script>
</body>
